<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-white">
  <div class="container-fluid">
    <%= link_to planets_path, class: "navbar-brand" do %>
      <%= image_tag "http://res.cloudinary.com/dx1sso7tq/image/upload/v1677664569/d3sa7vylxvmeljtzqwlx.png" %>
      <span>Rent A Planet</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto p-0 d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Louer une planète", planets_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.avatar.key, class: 'avatar-large dropdown-toggle', id: 'navbarDropdown', data: { bs_toggle: 'dropdown' } %>
            <div class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="navbarDropdown">
              <%= link_to "Mes planètes", user_planets_path, class: "dropdown-item nav-link" %>
              <%= link_to "Mes réservations", user_planets_path, class: "dropdown-item nav-link" %>
              <%= link_to "Ajouter une planète", new_planet_path, class: "dropdown-item nav-link" %>
              <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item nav-link" %>
            </div>
          </li>
        <% else %>
          <%# <li class="nav-item">
            <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
          <%# </li>
          <li class="nav-item-add rounded">
            <button type="button" class="btn d-flex align-items-center py-0 border-0 rounded">
              <ion-icon name="logo-octocat" class="text-light"></ion-icon><%= link_to "Se connecter", new_user_session_path, class: "nav-link text-light" %>
            <%# </button>
          </li> %>
        <% end %>
      </ul>
    </div>


  </div>
</div>

            <%# <button type="button" class="btn btn-outline-primary d-flex align-items-center py-0 border-0">
              <ion-icon name="planet-outline" class="text-light"></ion-icon><%= link_to "Ajouter une planète", new_planet_path, class: "nav-link text-light" %>
            <%# </button> %>

<%#
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div> %>
