<div class="container mt-5">
  <div class="cards">
    <% @planets.each do |planet| %>
      <div class="card border-0 rounded w-100">
        <%= link_to planet_path(planet) do %>
        <%= cl_image_tag planet.photo.key, crop: :scale, class: 'card-img-top' %>
        <% end %>
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-baseline pb-3">
          <%= link_to planet_path(planet) do %>
              <h3 class="card-title"><%= planet.name %></h5>
               <% end %>
              <div class="stars">
                <ul class="list-group list-group-horizontal pt-0">
                  <% if !planet.rating.nil? %>
                    <% planet.rating.times do %>
                      <li class="list-group-item p-0 border-0"><ion-icon name="star"></ion-icon></li>
                    <% end %>
                    <% (5 - planet.rating).times do %>
                      <li class="list-group-item p-0 border-0"><ion-icon name="star-outline"></ion-icon></li>
                    <% end %>
                  <% else %>
                    <% 5.times do %>
                      <li class="list-group-item p-0 border-0"><ion-icon name="star-outline"></ion-icon></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <p class="little">à partir de</p>
              <h4 class="mb-0"><%= number_with_delimiter(planet.price_per_night, :delimiter => ' ') %>€ <span class="little-plus">/nuit</span></p>
            </div>
            <div>
              <button type="button" class="btn btn-booking d-flex align-items-center border-0 rounded">
                <%= link_to "Réserver", planet, class: "nav-link text-light" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
