<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <div class="card border-0 rounded w-100">
        <%= cl_image_tag @planet.photo.key, crop: :scale, class: 'card-img-top' %>
        <div class="card-body p-5">
          <div class="d-flex justify-content-between align-items-end margin-custom">
              <h5 class="card-title mb-0"><%= @planet.name %></h5>
              <div>
                <p class="little">à partir de</p>
                <h4 class="mb-0"><%= number_with_delimiter(@planet.price_per_night, :delimiter => ' ') %>€ <span class="little-plus">/nuit</span></p>
              </div>
          </div>
          <div class="d-flex justify-content-start pb-3">
            <div class="pe-5">
              <h6 class="card-title mb-3">Note</h6>
              <div class="stars">
                <ul class="list-group list-group-horizontal pt-0">
                  <% if !@planet.rating.nil? %>
                    <% @planet.rating.times do %>
                      <li class="list-group-item p-0 border-0"><ion-icon name="star"></ion-icon></li>
                    <% end %>
                    <% (5 - @planet.rating).times do %>
                      <li class="list-group-item p-0 border-0"><ion-icon name="star-outline"></ion-icon></li>
                    <% end %>
                  <% else %>
                    <% 5.times do %>
                      <li class="list-group-item p-0 border-0"><ion-icon name="star-outline"></ion-icon></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="pe-5">
              <h6 class="card-title mb-3">Type</h6>
              <p class="card-title">Gazeuse</p>
            </div>
            <div>
              <h6 class="card-title mb-3">Population</h6>
              <p class="card-title">50M</p>
            </div>
          </div>
          <p><%= @planet.description %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card rounded w-100">
        <div class="card-body p-4">
          <h6 class="card-title pb-3">Réservation</h6>
          <div class="d-flex pb-3" data-controller="calendar">
            <div class="me-2 w-50">
              <label for="startingDate" class="mb-1">Date de début</label>
              <select class="form-select" aria-label="Default select example" data-action="click->calendar#show">
                <option selected>28/02/2023</option>
                <option value="1">01/03/2023</option>
                <option value="2">02/03/2023</option>
                <option value="3">03/03/2023</option>
                <option value="2">04/03/2023</option>
                <option value="3">05/03/2023</option>
              </select>
            </div>
            <div class="ms-2 w-50">
              <label for="endingDate" class="mb-1">Date de fin</label>
              <select class="form-select" aria-label="Default select example" data-action="click->calendar#show">
                <option selected>09/03/2023</option>
                <option value="1">10/03/2023</option>
                <option value="2">11/03/2023</option>
                <option value="3">12/03/2023</option>
                <option value="2">13/03/2023</option>
                <option value="3">14/03/2023</option>
              </select>
            </div>
          </div>
          <div class="w-100 pb-4">
            <label for="numberOfPersons" class="mb-1">Nombre de personnes</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>1 personne</option>
              <option value="1">2 personnes</option>
              <option value="2">3 personnes</option>
              <option value="3">4 personnes</option>
              <option value="2">5 personnes</option>
              <option value="3">6 personnes</option>
            </select>
          </div>
          <div class="d-grid gap-2 pb-4">
            <button class="btn btn-booking py-2 rounded fw-bolder" type="button">Réserver</button>
          </div>
          <div class="w-100">
            <div class="d-flex justify-content-between">
              <p class="mb-1"><%= @planet.price_per_night %>€ x 12 nuits</p>
              <p class="mb-1"><%= number_with_delimiter(@rent_price = @planet.price_per_night * 12, :delimiter => ' ') %> €</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-0">Frais de services</p>
              <p class="mb-0"><%= number_with_delimiter(@fees = @planet.price_per_night * 1500, :delimiter => ' ') %> €</p>
            </div>
            <hr class="hr color"/>
            <div class="d-flex justify-content-between">
              <p class="fw-bolder mb-0">Total</p>
              <p class="fw-bolder mb-0"><%= number_with_delimiter(@total = @fees + @rent_price, :delimiter => ' ') %> €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
