<div class="container mt-5">
  <% if @ongoing_reservations.empty? %>
    <div class="card border-0 mb-3 p-4 rounded">
      <h6 class="mb-3 text-center">Vos réservations en cours</h6>
      <p class="mb-0 text-center">Aucune réservation en cours</p>
    </div>
  <% else %>
    <div class="card border-0 mb-3 p-4 rounded">
      <h6 class="mb-0 text-center">Vos réservations en cours</h6>
    </div>
    <% @ongoing_reservations.each do |reservation| %>
      <div class="card border-0 mb-3 rounded w-100">
        <div class="row g-0">
          <div class="col-md-5">
          <%= link_to planet_path(reservation.planet) do %>
            <%= cl_image_tag reservation.planet.photo.key, height: 400, width: 800, crop: :scale, class: 'img-fluid h-100 img-cover rounded-start' %>
          <% end %>
          </div>
          <div class="col-md-7 p-4">
            <h4 class="mb-3 ps-3">Votre réservation pour <%= reservation.planet.name %></h4>
            <div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-3">
                  <strong>Date de début</strong>
                  <p><%= reservation.start_date.strftime('%d-%m-%Y') %></p>
                </div>
                <div class="pe-3 w-50 mb-3">
                  <strong>Date de fin</strong>
                  <p><%= reservation.end_date.strftime('%d-%m-%Y') %></p>
                </div>
              </div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-3">
                  <strong>Nombre de personnes</strong>
                  <p><%= reservation.nb_persons %></p>
                </div>
                <div class="pe-3 w-50 mb-3">
                  <strong>Nombre de nuits</strong>
                  <p><%= (reservation.end_date - reservation.start_date).to_i %></p>
                </div>
              </div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-0">
                  <strong>Réservation au nom de</strong>
                  <p><%= reservation.user.email %></p>
                </div>
                <div class="pe-3 w-50 mb-0">
                  <strong>Prix</strong>
                  <p><%= number_with_delimiter((reservation.planet.price_per_night * (reservation.end_date - reservation.start_date)).to_i, :delimiter => ' ') %> €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @coming_reservations.empty? %>
    <div class="card border-0 mb-3 p-4 rounded">
      <h6 class="mb-3 text-center">Vos réservations à venir</h6>
      <p class="mb-0 text-center">Aucune réservation à venir</p>
    </div>
  <% else %>
    <div class="card border-0 mb-3 p-4 rounded">
      <h6 class="mb-0 text-center">Vos réservations à venir</h6>
    </div>
    <% @coming_reservations.each do |reservation| %>
      <div class="card border-0 mb-3 rounded w-100">
        <div class="row g-0">
          <div class="col-md-5">
          <%= link_to planet_path(reservation.planet) do %>
            <%= cl_image_tag reservation.planet.photo.key, height: 400, width: 800, crop: :scale, class: 'img-fluid h-100 img-cover rounded-start' %>
          <% end %>
          </div>
          <div class="col-md-7 p-4">
            <h4 class="mb-3 ps-3">Votre réservation pour <%= reservation.planet.name %></h4>
            <div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-3">
                  <strong>Date de début</strong>
                  <p><%= reservation.start_date.strftime('%d-%m-%Y') %></p>
                </div>
                <div class="pe-3 w-50 mb-3">
                  <strong>Date de fin</strong>
                  <p><%= reservation.end_date.strftime('%d-%m-%Y') %></p>
                </div>
              </div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-3">
                  <strong>Nombre de personnes</strong>
                  <p><%= reservation.nb_persons %></p>
                </div>
                <div class="pe-3 w-50 mb-3">
                  <strong>Nombre de nuits</strong>
                  <p><%= (reservation.end_date - reservation.start_date).to_i %></p>
                </div>
              </div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-0">
                  <strong>Réservation au nom de</strong>
                  <p><%= reservation.user.email %></p>
                </div>
                <div class="pe-3 w-50 mb-0">
                  <strong>Prix</strong>
                  <p><%= number_with_delimiter((reservation.planet.price_per_night * (reservation.end_date - reservation.start_date)).to_i, :delimiter => ' ') %> €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @passed_reservations.empty? %>
    <div class="card border-0 mb-3 p-4 rounded">
      <h6 class="mb-3 text-center">Vos réservations passées</h6>
      <p class="mb-0 text-center">Aucune réservation passée</p>
    </div>
  <% else %>
    <div class="card border-0 mb-3 p-4 rounded">
      <h6 class="mb-0 text-center">Vos réservations passées</h6>
    </div>
    <% @passed_reservations.each do |reservation| %>
      <div class="card border-0 mb-3 rounded w-100">
        <div class="row g-0">
          <div class="col-md-5">
          <%= link_to planet_path(reservation.planet) do %>
            <%= cl_image_tag reservation.planet.photo.key, height: 400, width: 800, crop: :scale, class: 'img-fluid h-100 img-cover rounded-start' %>
          <% end %>
          </div>
          <div class="col-md-7 p-4">
            <h4 class="mb-3 ps-3">Votre réservation pour <%= reservation.planet.name %></h4>
            <div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-3">
                  <strong>Date de début</strong>
                  <p><%= reservation.start_date.strftime('%d-%m-%Y') %></p>
                </div>
                <div class="pe-3 w-50 mb-3">
                  <strong>Date de fin</strong>
                  <p><%= reservation.end_date.strftime('%d-%m-%Y') %></p>
                </div>
              </div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-3">
                  <strong>Nombre de personnes</strong>
                  <p><%= reservation.nb_persons %></p>
                </div>
                <div class="pe-3 w-50 mb-3">
                  <strong>Nombre de nuits</strong>
                  <p><%= (reservation.end_date - reservation.start_date).to_i %></p>
                </div>
              </div>
              <div class="d-flex">
                <div class="ps-3 w-50 mb-0">
                  <strong>Réservation au nom de</strong>
                  <p><%= reservation.user.email %></p>
                </div>
                <div class="pe-3 w-50 mb-0">
                  <strong>Prix</strong>
                  <p><%= number_with_delimiter((reservation.planet.price_per_night * (reservation.end_date - reservation.start_date)).to_i, :delimiter => ' ') %> €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
